@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,700&display=swap');
h1, h2, h3, h4, h5, h6, p, ol, ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  margin: 0;
  font-family: 'Poppins','Open Sans';
  background: #E5E5E5;
}
.globalstyle {
  margin-left: 100px;
  z-index: -2;
  margin-top: 100px;
}
.globalstyle.active{
  background: red;
}
.labelled{
  background: #109CF1;
  color: #fff;
  border-radius: 50%;
  padding: 3px;
}
.rebecca h3{
  margin: 0;
}
.rebecca h4{
  margin-left: 5px;
  color: #90A0B7;
  font-family: 'Poppins';
  font-weight: 400;
}
.bgnone{
  margin-left: 161px;
  text-align: left;
}
.bgnone .message{
  width: 84%;
  margin-left: 39px;
  background: #fff;
  color: #334D6E;
  border: 1px solid #E4E9EE;
}
.bgnone .info{
  justify-content: flex-end;
}
.jones h4{
  font-family: 'Poppins';
  font-size: 13px;
  color:#90A0B7;
  font-weight: 400;
  margin-left: 34px;
}
.form input::placeholder{
  color:#b3b3b3;
  font-family: 'Poppins';

} 
.input{
  margin-right: 10px;
}

